# sec_keyboard
type sec_keyboard, domain;
type sec_keyboard_device, dev_type;
type sec_keyboard_exec, exec_type, file_type;

init_daemon_domain(sec_keyboard)

allow sec_keyboard sec_keyboard_device:chr_file rw_file_perms;
allow sec_keyboard self:capability sys_admin;
